<!-- Panel (Spotlight) -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major">Examples of existing tts models:</h2>
      <p>Voiceover Mac OS:</p>
      <audio controls>
         <source src="assets/wav/voiceOver.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
      <h2 style="padding-top: 30px" class="major">Evolution of vsk.ai tts model:</h2>
      <p>Baby steps of vsk.ai tts model:</p>
      <audio controls>
         <source src="assets/wav/vsk-baby.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
      
      <p>Evolution of vsk.ai tts model:</p>
      <audio controls>
         <source src="assets/wav/vsk-latest.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>
