<!-- Panel (Spotlight) -->
  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major">Usage of VSK.ai:</h2>
      <p>U doba veštačke inteligencije (AI), čuvanje jezičke kulture, uključujući srpski jezik, ima dodatne izazove i mogućnosti. AI tehnologija može biti korisna za unapređenje jezičke prakse i očuvanje jezičkog nasleđa. Evo kako se može primeniti u tom kontekstu: </p>
      <li>Automatizovani proverivači pravopisa i gramatike</li>
      <li>Digitalni jezički resursi</li>
      <li>Personalizovana jezička podrška</li>
      <li>Prevod i lokalizacija</li>
      <li>Analiza sentimenta i komunikacija</li>
      <li>Očuvanje kulturnog nasleđa</li>
      <li>Obrazovanje i tutorijali</li>
      <p>Ukratko, u doba veštačke inteligencije, možemo koristiti AI kao alat za unapređenje i očuvanje srpskog jezika, olakšavajući njegovu upotrebu i širenje na digitalnim platformama.</p>
      <audio controls>
         <source src="assets/wav/vsk-usage-examples.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>


  <section class="panel spotlight medium right" id="first">
    <div class="content span-7">
      <h2 class="major">Evolution of existing tts models:</h2>
      <p>Voiceover Mac OS:</p>
      <audio controls>
         <source src="assets/wav/voiceOver.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
      <h2 style="padding-top: 30px" class="major">Evolution of vsk.ai tts model:</h2>
      <p>Baby steps of vsk.ai tts model:</p>
      <audio controls>
         <source src="assets/wav/vsk-baby.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>
      
      <p>Evolution of vsk.ai tts model:</p>
      <audio controls>
         <source src="assets/wav/vsk-latest.wav" type="audio/wav">
         Your browser does not support the audio element.
      </audio>

    </div>
    <div class="image filtered tinted" data-position="top left">
      <img src="assets/images/pic02.jpg" alt="" />
    </div>
  </section>
